# To update requirements.txt for praxis and paxml, run:
# bash ./compile_requirements.sh

absl-py
clu @ git+https://github.com/google/CommonLoopUtils
etils
flax @ git+https://github.com/google/flax
graphviz
jax @ git+https://github.com/google/jax
lingvo
numpy
orbax-checkpoint @ git+https://github.com/google/orbax/#subdirectory=checkpoint
praxis @ git+https://github.com/mariecwhite/praxis@gemma
protobuf
pyglove
seqio-nightly
t5
tensorflow
tensorflow-text
tensorstore
tensorflow-datasets
tfds-nightly
tensorflow-metadata
